body{
    background-image: url('https://png.pngtree.com/background/20210711/original/pngtree-purple-abstract-4k-free-wallpaper-background-download-png-and-psd-files-picture-image_1151638.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover; 
    
}

.para{
    color:#f7e8a3;
    font-size: xx-large;
}

#para2{
    color:#f2acce;
    font-size:large; 
}